.train {
  --duration: 3s;
  display: grid;
  place-items: center;
  flex-grow: 1;
}

.train .item {
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.train .item.drop {
  animation-name: drop;
}

.train .item.fade {
  animation-name: fade;
}

.train .item.scale {
  animation-name: scale;
}
