.train.light {
  --color: rgb(25, 40, 40);
  --link-bg: rgb(115, 152, 239);
  --link-color: rgb(33, 29, 29);
  --shadow: none;
  --text-shadow: none;
}

.train.dark {
  --color: azure;
  --link-bg: green;
  --link-color: azure;
  --shadow: none;
  --text-shadow: none;
}

.train.neom {
  --color: black;
  --link-bg: rgb(138, 138, 235);
  --link-color: azure;
  --shadow: 5px 5px 10px 0 rgba(47, 54, 104, 0.25),
    -5px -5px 10px 0 rgba(209, 234, 255, 0.75);
  --text-shadow: 3px 3px 3px rgb(125, 87, 87);
}

.train {
  --duration: 3s;
  color: var(--color);
  display: grid;
  place-items: center;
  flex-grow: 1;
}

.train .item {
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  text-shadow: var(--text-shadow);
}

.train .item.drop {
  animation-name: drop;
}

.train .item.fade {
  animation-name: fade;
}

.train .item.scale {
  animation-name: scale;
}

.train a {
  background: var(--link-bg);
  color: var(--link-color);
  box-shadow: var(--shadow);
  padding: 1rem 3rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
