@keyframes drop {
  from {
    transform: translateY(-100vh);
  }

  20% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes size {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 0.5rem;
    height: 0.5rem;
  }
}
