.settings.light {
  --bg: rgb(241, 227, 227);
  --border: none;
  --color: rgb(43, 22, 22);
  --input-bg: rgb(206, 197, 197);
  --anime-bg: rgb(204, 204, 228);
  --anime-color: rgb(18, 18, 67);
  --anime-toggle-color: rgb(89, 89, 236);
  --submit-bg: rgb(78, 255, 84);
  --submit-color: rgb(41, 21, 21);
  --choices-bg: rgb(188, 175, 255);
  --input-shadow: none;
  --choices-shadow: none;
  --content-shadow: none;
}

.settings.dark {
  --bg: rgb(13, 15, 15);
  --border: 1px solid rgb(161, 202, 202, 0.5);
  --color: azure;
  --input-bg: rgb(157, 20, 20);
  --anime-bg: rgb(144, 73, 73);
  --anime-color: rgb(245, 245, 235);
  --anime-toggle-color: rgb(104, 228, 228);
  --submit-bg: rgb(139, 41, 9);
  --submit-color: azure;
  --choices-bg: rgb(192, 41, 14);
  --input-shadow: none;
  --choices-shadow: none;
  --content-shadow: none;
}

.settings.neom {
  --bg: rgb(140, 217, 217);
  --border: none;
  --color: black;
  --input-bg: rgb(208, 228, 245);
  --anime-bg: rgb(222, 232, 243);
  --anime-color: black;
  --anime-toggle-color: rgb(224, 144, 224);
  --submit-bg: rgb(171, 247, 182);
  --submit-color: black;
  --choices-bg: rgb(229, 229, 255);
  --input-shadow: 3px 3px 5px 0 rgb(0, 0, 0, 0.15) inset;
  --choices-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.25),
    -5px -5px 10px 0 rgb(255, 255, 255, 0.5);
  --content-shadow: 3px 3px 5px rgb(87, 67, 67, 0.5);
}

.settings {
  background: var(--bg);
  border: var(--border);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings label.based {
  display: flex;
  justify-content: space-between;
}

.settings .label-element {
  color: var(--color);
}

.settings label.based input[type="number"] {
  background: var(--input-bg);
  color: var(--color);
  box-shadow: var(--input-shadow);
  width: 4rem;
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.settings .selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.settings .selector .container {
  position: relative;
  margin-right: 2rem;
}

.settings .selector .toggle-container {
  color: var(--anime-toggle-color);
  position: relative;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.settings .selector .toggle-container input[type="checkbox"] {
  appearance: none;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
}

.settings .selector .toggle-container svg {
  pointer-events: none;
  transition: transform 0.33s;
}

.settings .selector .toggle-container input[type="checkbox"]:checked + svg {
  transform: rotate(90deg);
}

.settings .selector .container .anime {
  background: var(--anime-bg);
  color: var(--anime-color);
  box-shadow: var(--choices-shadow);
  width: 5.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.settings .selector .container .anime label[for="animation-name"] {
  font-size: 1rem;
}

.settings .selector .container .choices {
  position: fixed;
  background: var(--choices-bg);
  transition: transform 0.33s cubic-bezier(0.2, -0.46, 0.46, 1.29),
    opacity 0.33s;
  box-shadow: var(--choices-shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 1;
}

.settings .selector .container .choices.inactive {
  transform: translateY(-50px);
  pointer-events: none;
  opacity: 0;
}

.settings .selector .container .choices label {
  display: flex;
  gap: 0.5rem;
}

.settings .selector .container .choices input[type="radio"] {
  background: yellow;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.settings .selector .container .choices input[type="radio"]:checked::after {
  background: red;
  content: "";
  display: block;
  border-radius: 100%;
  animation: size 0.33s forwards;
}

.settings .screen {
  --duration: 1s;
  width: 300px;
  height: 300px;
  border: var(--border);
  display: grid;
  place-items: center;
  overflow: hidden;
}

.settings .screen .content {
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  text-shadow: var(--content-shadow);
}

.settings .screen .content img {
  width: 100%;
}

.settings .screen .content.drop {
  animation-name: drop;
}

.settings .screen .content.fade {
  animation-name: fade;
}

.settings .screen .content.scale {
  animation-name: scale;
}

.settings .size {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings .submit {
  background: var(--submit-bg);
  color: var(--submit-color);
  align-self: center;
  padding: 0.5rem 3rem;
  font-size: 1.15rem;
  border: none;
  border-radius: 0.25rem;
}

/* .settings .drawer {
  background: rgb(237, 187, 187);
} */

.settings .drawer .top {
  display: flex;
  gap: 1rem;
}

.settings .drawer .top .icon {
  color: var(--anime-toggle-color);
  width: 1rem;
  height: 1rem;
  position: relative;
}

.settings .drawer .top .icon svg {
  position: relative;
  pointer-events: none;
}

.settings .drawer .top .icon input[type="checkbox"] {
  position: absolute;
  appearance: none;
  width: 100%;
  height: 100%;
}

.settings .drawer .bottom ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings .drawer .bottom .image {
  color: rgba(200, 255, 137);
  position: relative;
  width: 100px;
  height: 100px;
}

.settings .drawer .bottom .image input[type="checkbox"] {
  position: absolute;
  appearance: none;
  inset: 0;
}

.settings .drawer .bottom .image svg {
  position: absolute;
  display: none;
  inset: 0;
  width: 100%;
  height: 100%;
}

.settings .drawer .bottom .image input[type="checkbox"]:checked ~ svg {
  filter: drop-shadow(3px 3px 3px rgb(49, 6, 6));
  display: block;
}

@keyframes size {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 0.5rem;
    height: 0.5rem;
  }
}
