.settings.light {
  --bg: rgb(241, 227, 227);
}

.settings.dark {
  --bg: azure;
}

.settings.neom {
  --bg: azure;
}

.settings {
  background: var(--bg);
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings label.based {
  display: flex;
  justify-content: space-between;
}

.settings label.based input[type="number"] {
  background: rgb(206, 197, 197);
  width: 4rem;
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.settings .selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.settings .selector .container {
  position: relative;
  margin-right: 2rem;
}

.settings .selector .toggle-container {
  color: blue;
  position: relative;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.settings .selector .toggle-container input[type="checkbox"] {
  appearance: none;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
}

.settings .selector .toggle-container svg {
  pointer-events: none;
  transition: transform 0.33s;
}

.settings .selector .toggle-container input[type="checkbox"]:checked + svg {
  transform: rotate(90deg);
}

.settings .selector .container .anime {
  width: 5.75rem;
  background: rgb(214, 214, 231);
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.settings .selector .container .anime label[for="animation-name"] {
  font-size: 1rem;
}

.settings .selector .container .choices {
  position: fixed;
  background: rgb(188, 175, 255);
  transition: transform 0.33s cubic-bezier(0.2, -0.46, 0.46, 1.29),
    opacity 0.33s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  z-index: 1;
}

.settings .selector .container .choices.inactive {
  transform: translateY(-50px);
  pointer-events: none;
  opacity: 0;
}

.settings .selector .container .choices label {
  display: flex;
  gap: 0.5rem;
}

.settings .selector .container .choices input[type="radio"] {
  background: yellow;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.settings .selector .container .choices input[type="radio"]:checked::after {
  background: red;
  content: "";
  display: block;
  border-radius: 100%;
  animation: size 0.33s forwards;
}

.settings .screen {
  --duration: 1s;
  width: 300px;
  height: 300px;
  border: 1px solid;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.settings .screen .content {
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.settings .screen .content.drop {
  animation-name: drop;
}

.settings .screen .content.fade {
  animation-name: fade;
}

.settings .screen .content.scale {
  animation-name: scale;
}

.settings .size {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

@keyframes size {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 0.5rem;
    height: 0.5rem;
  }
}
